<!DOCTYPE html>
<html lang="en">

<head>
  <title>Digital Solution : Loyalty Fox</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/css/animate.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/css/style.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/css/owl.carousel.min.css">
  <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/css/owl.theme.default.min.css">

  <script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/js/script.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  <link rel="icon" type="image/x-icon" href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/fav.png">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

</head>

<body>
   <!------  Head section start ---------->
<div class="bg-white p-2 sticky-top logo">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 logo-size">
            <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/logo.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <div class="contact text-right">
            <a href="https://www.linkedin.com/company/loyalty-fox/" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/linkedin2.png"></a>
            <a href="https://www.instagram.com/loyaltyfox/" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/instagram2.png"></a>
            <a href="https://www.facebook.com/Loyaltyfox-110323968216242" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/facebook2.png"></a>
          </div>
        </div>
      </div>
    </div>
</div>
   <!------  Head section End ---------->

<!------------------- BANNER START-------------->
  <div id="demo" class="carousel slide carousel-fade bc-bnr" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/bn.png">
        <div class="carousel-caption ">
          <h1 class="wow bounceInUp font-weight-bold" data-wow-duration="2s">Increase Revenue With Our Innovative
            Digital Marketing Solutions</h1>
          <p class="wow bounceInDown" data-wow-duration="2s">Amplify your brand’s recognition <b sty>3 times</b> with our custom strategies, flawless
            execution, innovative marketing solutions, and channel expertise.
          </p>
          <a href="#form"><button type="submit" class="btn btn-hover color-2 text-center " data-wow-duration="2s" href="#" role="button">Talk to our experts</button> </a>

        </div>
      </div>
    </div>
    <script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/js/wow.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/js/jquery.min.js"></script>

    <script>
      new WOW().init();
    </script>

  </div>

<!------------------- BANNER END-------------->
<!------------------- DIGITAL SERVICE START-------------->
<div class="container" id="services">
    <div class="main-head text-center">
      <h1 class="text-center font-weight-bold">Power Up Your Digital Strategies With Our Extensive
        Digital Marketing Services!</h1>
    </div>
   <div class="row ">
    <div class="col-lg-12 col-md-4 mt-3">
      <div class="box pt-2 text-center">
       <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/graphic.png">
        <h4 class="">Graphics Designing</h4>
        <p class="t">Get logos, social media posts, or website banners designed as per your requirements.
          Choose designs that resonate with your business ideas and transform your business into your dream
          brand. Our graphic designing team works together to craft impactful and stunning designs for your
          business.
        </p>
        <div class="box2">
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-4 mt-3">
      <div class="box box_2 pt-2 text-center">
       <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/content.png">
        <h4 class="">Content Writing</h4>
        <p class="t">From content ideation to delivery, LoyaltyFox has got your back! From blog posts to guest posts to SEO landing
          pages, everything is curated by our expert writers after complete research to market your brand. Leverage our content writing
          services to grow your brand’s online presence and get a 40% faster turnaround time.
        </p>
        <div class="box2">
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-4 mt-3">
      <div class="box box_3 pt-2 text-center">
       <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/digital.png">
        <h4 class="">Digital Marketing</h4>
        <p class="t">LoyaltyFox offers elaborated and researched Digital marketing solutions for small and large businesses. The process
          involves analysing, researching, ideating, and promoting your brand digitally to reach wider and more relevant audiences.
          We provide you with SEO and SMO services to help you grow your business on search engines and social media platforms.
        </p>
        <div class="box2">
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-4 mt-3">
      <div class="box box_4 pt-2 text-center">
       <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/seo.png">
        <h4 class="">SEO</h4>
        <p class="t">Say yes to affordable SEO digital marketing services with LoyaltyFox. We use effective and organic link-building
          techniques and on-page optimization techniques to help you reach rank 1 on SERP. Also, Get detailed reports of SEO performance
          to track your brand’s growth every month.
        </p>
        <div class="box2">
        </div>
      </div>
    </div>


    <div class="col-lg-12 col-md-4 mt-3">
      <div class="box box_5 pt-2 text-center">
       <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/sem.png">
        <h4 class="">SEM</h4>
        <p class="t">Increase your viewer traffic and visibility on the search engine with our modern and effective Google Ads
          management service. It includes PPC management services, social media advertising, affiliate marketing, and banner advertising.
        </p>
        <div class="box2">
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-4 mt-3">
      <div class="box box_6 pt-2 text-center">
       <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/social-media.png">
        <h4 class="">Social Media Campaigns</h4>
        <p class="t">With more than 90% of people active on social media platforms, there is no better place to promote your business.
          We help you run social media campaigns and get noticed by your target audience on multiple platforms. Also, utilize your social
          media handles to generate business leads with our ads management services for Facebook, Instagram and other platforms.
        </p>
        <div class="box2">
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-md-4 mt-3">
      <div class="box box_7 pt-2 text-center">
       <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/email.png">
        <h4 class="">Email Marketing</h4>
        <p class="t">You can now increase your conversions by up to 40% by developing a contextual email marketing list. Let our team
          create, update and run an email marketing campaign for your business to maximize conversions keeping the costs low.
        </p>
        <div class="box2">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center mt-2">
          <a href="#form"><button type="submit" name="quote_form"  class="btn btn-hover color-2">Get your customised quote today</button></a>
        </div>
      </div>
    </div>

  </div>

</div>

<!------------------- DIGITAL SERVICE END-------------->

<!------------------- Counter Section Start-------------->
<div class="hero">
  <div class="main-head text-center title">
    <h1 class="text-center font-weight-bold">Fueling Businesses Everyday!</h1>
  </div>

<div class="container">
  <div class="row roww">

      <div class="col">
          <div class="counter-box">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
              <h2 class="counter">10</h2><span>+</span>
              <h4>Projects</h4>
          </div>
      </div>
      <div class="col">
          <div class="counter-box">
            <i class="fa fa-user" aria-hidden="true"></i>
              <h2 class="counter">200</h2><span>+</span>
              <h4>Leads</h4>
          </div>
      </div>
      <div class="col">
          <div class="counter-box">
            <i class="fa fa-list" aria-hidden="true"></i>
              <h2 class="counter">1000</h2><span>+</span>
              <h4>Campaigns</h4>
          </div>
      </div>
  </div>
</div>
</div>
<!------------------- Counter Section End-------------->


<!------------------- CHALLENGES START-------------->
<div class="Challenges">
  <div class="container">
    <h1 class="font-weight-bold text-center">Overcome Challenges Of Existing Digital Marketing Solutions With LoyaltyFox</h1>
    <div class="row">
      <div class="col-lg-6 col-md-6 text-rights">
        <h2 class=""> Finding The Right Target Audience</h2>
        <h3 class="">Strategies that revolve around your business!</h3>
        <p class="">At LoyaltyFox, we put the needs of your customers and business at the equation’s center. On the basis of your business model, we choose strategies that will work best for you and impact the right customers. A complete analysis is performed to understand the current market scenario and competition. Based on the data, the team will make a strategy to get
          positive and required results.
          </p>
      </div>
      <div class="col-lg-6 col-md-6">
          <div class="main">
           <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/screen1.png" class="img-fluid">
          </div>
      </div>
    </div>
  </div>
</div>

<div class="Challenges2 Challenges">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
          <div class="main2 right">
            <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/screen2.png" class="img-fluid">
          </div>
      </div>

      <div class="col-lg-6 col-md-6 text-lefts">
        <h2 class="">Expense management</h2>
        <h3 class="">Pay only for the services you take!</h3>
        <p class="">You do not have to pay for the complete package at LoyaltyFox. Analyse the services you need and get quotations
          based on the chosen services only. No extra charges are applied.
          </p>
      </div>
    </div>
  </div>
</div>

<div class="Challenges3 Challenges">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-rights">
        <h2 class="">Real-time tracking</h2>
        <h3 class="">Keep yourself updated with your brand’s performance!</h3>
        <p class="">At LoyaltyFox, we create a detailed report of the performance of your brand to help you analyse how well your brand
          is performing. These reports will help you and the team make informed decisions and decide on further strategies.
          </p>
      </div>

      <div class="col-lg-6 col-md-6 ">
          <div class="main">
            <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/screen3.png" class="img-fluid">
          </div>
      </div>

    </div>
  </div>
</div>

<div class="Challenges4 Challenges">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 ">
          <div class="main2">
           <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/screen4.png" class="img-fluid">
          </div>
      </div>
      <div class="col-lg-6 col-md-6  text-lefts">
        <h2 class="">Brand-centric marketing</h2>
        <h3 class="">Strategies that revolve around your business!</h3>
        <p class="">You can now attract 5x more clients by portraying your USPs in the right way. Keeping your USP upfront, the team
          dedicatedly works towards making your business a success by implementing all their learnings for your project. Based on the
          USPs of your business, we will decode the best digital campaign for your business to attract customers, not just traffic.</p>
      </div>
    </div>
  </div>
</div>

<div class="Challenges5 Challenges">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 text-rights">
        <h2 class="">Fast adaptation of digital changes</h2>
        <h3 class="">Periodically reviewed strategies to maintain business growth!</h3>
        <p class="">We understand that the major goal of your investment is to generate business and increase ROIs and We aim to deliver
          you the same! Our experts understand the market trends and requirements and ensure to implement a customised digital marketing
          service for your business.

          </p>
      </div>
      <div class="col-lg-6 col-md-6 ">
          <div class="main">
            <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/screen5.png" class="img-fluid">
          </div>
      </div>
    </div>
  </div>
</div>
<!------------------- CHALLENGES END-------------->

<!------------------- MID SECTION START -------------->
<div class="mid-bnr">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <p>It’s time to give your business the boost it needs! <br>Talk to our consultant and explore your options
           to leverage your business.</p>
           <a href="#form"><button type="submit" name="quote_form"  class="btn btn-hover color-2">Get in touch</button></a>
      </div>
    </div>
  </div>
</div>

<!------------------- MID SECTION END -------------->

<!------------------- FORM SECTION START-------------->

<div class="form-section" id="form">
  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-2">
      <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/form-img.png" class="tab">
    </div>
    <div class="col-lg-5 col-md-5 contact-detail">
      <div class="main-head">
        <h1 class="font-weight-bold">Write your brand’s success story today!</h1>
      </div>

      <h3 class="font-weight-bold">Address:</h3>
      <p>75/76, 2nd floor, Adhchini, New Delhi - 110017</p>

      <h3 class="font-weight-bold">Phone:</h3>
      <p>+91-8448859948</p>

      <h3 class="font-weight-bold">Email:</h3>
      <p>info@loyaltyfox.com</p>

      <div class="social-icon">
        <h3 class="font-weight-bold">Connect our socials</h3>
        <a href="https://www.linkedin.com/company/loyalty-fox/" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/linkedin2.png"></a>
        <a href="https://www.instagram.com/loyaltyfox/" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/instagram2.png"></a>
        <a href="https://www.facebook.com/Loyaltyfox-110323968216242" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/facebook2.png"></a>
      </div>
    </div>

  <div class="col-lg-5 col-md-5">
    <div class="contact-form">
        <form method="POST" action="/digital-solution">
            <h3 class="font-weight-bold">Request a DEMO!</h3>
          <div class="row">
              <div class="col-md-6 col-sm-12">
                  <fieldset>
                      <input name="first_name" type="text" id="exampleFormControlInput1" placeholder="First name" required=""
                          style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                  <fieldset>
                      <input name="last_name" type="text" id="exampleFormControlInput2" placeholder="Last name"
                          required="" style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                  <fieldset>
                      <input name="mobile_number" type="phone" id="exampleFormControlInput3" placeholder="Mobile number" required=""
                          style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                  <fieldset>
                      <input name="work_email" type="email" id="exampleFormControlInput4" placeholder="Work e-mail"
                          required="" style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
              </div>
              <div class="col-md-6 col-sm-12">
                  <fieldset>
                      <input name="company_name" type="name" placeholder="Company name"
                          required="" style="background-color: rgba(250,250,250,0.3);">
                  </fieldset>
              </div>
              <div class="col-lg-12">
                  <fieldset>
                          <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Tell us your requirement"
                          rows="3" name="requirement" required=""></textarea>
                 </fieldset>
              </div>
              <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" name="quote_form"  class="btn btn-block btn-hover color-2">Submit</button>
                  </fieldset>
              </div>
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages and session['quote_form'] %}
              {% for category, message in messages %}
              <div class="col-lg-12 alert alert-{{ category }} alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                  <span>{{ message }}</span>
                  <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button> -->
              </div>
              {% endfor %}
              {% endif %}
              {% endwith %}
          </div>
      </form>
  </div>

</div>
</div>
  </div>
</div>

<!------------------- FORM SECTION END-------------->

<!------------------- FOOTER SECTION START-------------->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="text-white text-center m-0">TechTonic Media India Pvt. Ltd.</p>
      </div>
    </div>
  </div>
</div>

<!------------------- FOOTER SECTION END-------------->
<!-- Counter script -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/js/jquery.counterup.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/js/main.js"></script>
    <script>
        jQuery(document).ready(function($) {
            $('.counter').counterUp({
                delay: 10,
                time: 1000
            });
        });

    </script>
</body>
</html>
