<!DOCTYPE html>
<html lang="en">

<head>
    <title>Instant Gift Vouchers for Corporate | Loyalty Fox</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="icon" type="image/x-icon"
          href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/fav.png">
    <link rel="stylesheet"
          href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/css/animate.css">
    <link rel="stylesheet" href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/css/style.css">
    <link rel="stylesheet"
          href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/css/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/css/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/js/script.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">

    <!------ Include the above in your HEAD tag ---------->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-709476094"></script>

    <script>
        function conversionFunction() {
            gtag('event', 'conversion', {'send_to': 'AW-709476094/YnacCKiS4ZQYEP79ptIC'});
            var callback = function () {
                if (typeof (url) != 'undefined') {
                    window.location = url;
                }
            };
            gtag('event', 'conversion', {
                'send_to': 'AW-709476094/YnacCKiS4ZQYEP79ptIC',
                'event_callback': callback
            });
            return false;
        }
    </script>
</head>
<body>
<!------------------- header Start-------------->
<div class="bg-white p-2 sticky-top logo">
    <div class="bg-white p-2 sticky-top logo">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 logo-size">
                    <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/logo.png" class="img-fluid">
                </div>
                <div class="col-lg-6">
                    <div class="btn-wrapper">
                        <a href="#form">Get free Consultation</a>
                    </div>
                    <div class="contact text-right">
                        <a href="https://www.linkedin.com/company/loyalty-fox/" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/linkedin2.png"></a>
                        <a href="https://www.instagram.com/loyaltyfox/" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/instagram2.png"></a>
                        <a href="https://www.facebook.com/Loyaltyfox-110323968216242" target="_blank"><img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/digital-marketing/images/facebook2.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!------------------- header End-------------->

<!------------------- Slider Start-------------->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100"
                 src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/bnr.png"
                 alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/bnr2.png"
                 alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/bnr3.png"
                 alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100"
                 src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/bnr4.png"
                 alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!------------------- Slider END-------------->

<!-- Sticky form start -->
<div class="sticky">
    <div class="container">
        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages and session['sticky_form']%}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true">×</span>
                                  </button> -->
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form id="form" class="form-inline" method="POST" action="/gift-vouchers">
                <div class="form-group">
                    <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Name" name="name"
                           required>
                    <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
                    <input type="phone" class="form-control" id="exampleFormControlInput1" placeholder="Mobile number"
                           name="phone" required>
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="1"
                              name="message"></textarea>
                    <button type="submit" onclick="conversionFunction()" name="sticky_form" class="btn">Submit</button>
                </div>
            </form>
        </div>

    </div>

</div>

<!------------------- Client Section Start-------------->
<div class="owlsection">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="owl-carousel owl-theme">

                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client2.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client3.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client4.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client5.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client6.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client3.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client7.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client8.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client9.png">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client10.jpg">
                    </a>
                    <a class="item">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/client11.png">
                    </a>


                </div>
            </div>
        </div>
    </div>
</div>
<!------------------- Client Section End-------------->


<!------------------- Reward Section Start-------------->
<div class="reward-system">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-head text-center">
                    <h1 class="text-center font-weight-bold">Automate your rewarding system with our
                        easy-to-integrate solution</h1>
                    <p>Let your customers and employees choose from a pool of available vouchers with our
                        integrated API. You can automate the fulfilment process through our single wall of
                        technology which connects clients, merchants and users across all platforms like
                        mobile and web.
                    </p>
                </div>
            </div>

            <div class="mobile-screen text-center">
                <div class="col-lg-4">
                    <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/redeem.png"
                         class="img-fluid">
                </div>
                <div class="col-lg-4 mb-4">
                    <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/redeem1.png"
                         class="img-fluid">
                </div>
                <div class="col-lg-4">
                    <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/thanku.png"
                         class="img-fluid">
                </div>

            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center ">
                <a href="#downform">
                    <button type="submit" class="btn btn-screen">Talk to our experts</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!------------------- Reward Section End-------------->

<!------------------- Counter Section Start-------------->
<div class="hero">
    <div class="main-head text-center title">
        <h1 class="text-center font-weight-bold">Delivering smiles daily!</h1>
    </div>

    <div class="container">
        <div class="row roww">

            <div class="col">
                <div class="counter-box">
                    <i class="fa fa-users"></i>
                    <h2 class="counter">10</h2><span>+</span>
                    <h4>Clients</h4>
                </div>
            </div>
            <div class="col">
                <div class="counter-box">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <h2 class="counter">200</h2><span>+</span>
                    <h4>Brands</h4>
                </div>
            </div>
            <div class="col">
                <div class="counter-box">
                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                    <h2 class="counter">3</h2><span>M+</span>
                    <h4>Transactions</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------- Counter Section End-------------->


<!------------------- Discover Section Start-------------->
<div class="discover-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-head text-center">
                    <h1 class="text-center font-weight-bold">Discover The LoyaltyFox Difference </h1>
                </div>
                <p class="text-center">At LoyaltyFox, we are all about delighting and surprising your employees, channel
                    partners and clients with gifts that
                    won’t just sit in their pantry but will be loved and admired by them. Book your bulk corporate gift
                    vouchers and customize
                    them to make them special.</p>
                <p class="text-center">Get additional discounts of up to 30%* on more than 200 top brands including
                    Reliance Smart, Reliance footwear, Reliance
                    Smart Point, Amazon and Bata.</p>
            </div>
        </div>
        <div class="boxes">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 box">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/flexibility.png">
                        <p class="number">01</p>
                        <p>Available in Flexible<br> denominations</p>
                    </div>

                    <div class="col-lg-4 box">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/gift (1).png"
                             style="background-color:#01957d;">
                        <p class="number">02</p>
                        <p>Automated rewarding<br>system</p>
                    </div>
                    <div class="col-lg-4 box boxm">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/gift-box.png"
                             style="background-color:#e88a8a;">
                        <p class="number">03</p>
                        <p>Simpler redemption<br>process</p>
                    </div>

                    <div class="col-lg-4 box box-down">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/real-time.png"
                             style="background-color:#1f40b3;">
                        <p class="number">04</p>
                        <p>Real time delivery</p>
                    </div>
                    <div class="col-lg-4 box box-down">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/safe.png"
                             style="background-color:#ae10c9;">
                        <p class="number">05</p>
                        <p>Secure delivery</p>
                    </div>
                    <div class="col-lg-4 box box-down">
                        <img src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/distributed.png"
                             style="background-color:#06999f;">
                        <p class="number">06</p>
                        <p>Instant distribution</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------- Discover Section End-------------->


<!------------------- testimonial Section start-------------->
<div class="test">
    <div class="container">
        <div class="main-head text-center">
            <h1 class="text-center font-weight-bold">Client Rating</h1>
        </div>
        <section id="testim" class="testim">

            <div class="testim-cover">
                <div class="wrap">

                    <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
                    <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
                    <ul id="testim-dots" class="dots">
                        <li class="dot active"></li><!--
                        -->
                        <li class="dot"></li><!--
                        -->
                        <li class="dot"></li><!--
                        -->
                        <li class="dot"></li><!--
                        -->
                        <li class="dot"></li>
                    </ul>
                    <div id="testim-content" class="cont">

                        <div class="active">
                            <div class="img"><img
                                    src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/star.png"
                                    alt=""></div>
                            <h2>Prince Pipes & Fittings Ltd.</h2>
                            <p>Sameer Mehta</p>
                        </div>

                        <div>
                            <div class="img"><img
                                    src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/starr.png"
                                    alt=""></div>
                            <h2>HP India</h2>
                            <p>Shyam Sundar Saraf</p>
                        </div>

                        <div>
                            <div class="img"><img
                                    src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/starr.png"
                                    alt=""></div>
                            <h2>Snapdeal</h2>
                            <p>Nishant Deengawal</p>
                        </div>

                        <div>
                            <div class="img"><img
                                    src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/star.png"
                                    alt=""></div>
                            <h2>Winfo Solutions</h2>
                            <p>Shanthi Kumar</p>
                        </div>

                        <div>
                            <div class="img"><img
                                    src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/images/starr.png"
                                    alt=""></div>
                            <h2>Cargomen Logistics</h2>
                            <p>Hari Prasad</p>
                        </div>

                    </div>

                </div>
            </div>
        </section>
    </div>
</div>

<!------------------- Client Section End-------------->
<!------------------- testimonial Section end-------------->

<!------------------- from Section start-------------->
<div class="form-section" id="downform">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="left">
                    <div class="main-head head-padd">
                        <h1 class="font-weight-bold">Gifting Made Simpler and Instant With eGift Vouchers!</h1>
                    </div>
                    <a href="#" class="btn btn-mobile">Book your bulk orders today!</a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="right">
                    <form method="POST" action="/gift-vouchers">
                        <h3 class="font-weight-bold">Get your quote today!</h3>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="First name"
                               name="first_name" required>
                        <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Last name"
                               name="last_name" required>
                        <input type="phone" class="form-control" id="exampleFormControlInput3"
                               placeholder="Mobile number" name="mobile_number" required>
                        <input type="email" class="form-control" id="exampleFormControlInput4" placeholder="Work e-mail"
                               name="work_email" required>
                        <input type="text" class="form-control" id="exampleFormControlInput5" placeholder="Company name"
                               name="company_name" required>

                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                  placeholder="Tell us your requirement" rows="3" name="requirement"
                                  required></textarea>

                        <button type="submit" name="quote_form" onclick="conversionFunction()"
                                class="btn btn-block btn-hover color-2">Submit
                        </button>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages and session['quote_form'] %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                            </button> -->
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------------- form Section end-------------->

<!------------------- FOOTER SECTION START-------------->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-white text-center">TechTonic Media India Pvt. Ltd.</p>
            </div>
        </div>
    </div>
</div>

<!------------------- FOOTER SECTION END-------------->
<!------------------- FOOTER SECTION START-------------->
<div class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-white text-center">TechTonic Media India Pvt. Ltd.</p>
            </div>
        </div>
    </div>
</div>
<div class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-white text-center">TechTonic Media India Pvt. Ltd.</p>
            </div>
        </div>
    </div>
</div>

<!------------------- FOOTER SECTION END-------------->

<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/js/jquery.counterup.min.js"></script>

<script>
    jQuery(document).ready(function ($) {
        $('.counter').counterUp({
            delay: 10,
            time: 1000
        });
    });

</script>
<Script>

</Script>

<script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/js/bootstrap.min.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/js/script.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/js/owl.carousel.js"></script>
<script src="https://s3.ap-south-1.amazonaws.com/gift-vouchers.loyaltyfox.com/js/main.js"></script>
</body>
</html>
